enfermedades-cacao-yolov4/
poetry.lock
pyproject.toml
processed_dataset/train/labels.cache
processed_dataset/train/images/Fito2.jpg
processed_dataset/train/images/Fito4.jpg
processed_dataset/train/images/Fito5.jpg
processed_dataset/train/images/Fito6.jpg
processed_dataset/train/images/Fito7.jpg
processed_dataset/train/images/Fito10.jpg
processed_dataset/train/images/Fito11.jpg
processed_dataset/train/images/Fito12.jpg
processed_dataset/train/images/Fito14.jpg
processed_dataset/train/images/Fito16.jpg
processed_dataset/train/images/Fito18.jpg
processed_dataset/train/images/Fito19.jpg
processed_dataset/train/images/Fito21.jpg
processed_dataset/train/images/Fito23.jpg
processed_dataset/train/images/Fito24.jpg
processed_dataset/train/images/Fito25.jpg
processed_dataset/train/images/Fito26.jpg
processed_dataset/train/images/Fito27.jpg
processed_dataset/train/images/Fito29.jpg
processed_dataset/train/images/Fito30.jpg
processed_dataset/train/images/Fito31.jpg
processed_dataset/train/images/Fito32.jpg
processed_dataset/train/images/Fito33.jpg
processed_dataset/train/images/Fito34.jpg
processed_dataset/train/images/Fito36.jpg
processed_dataset/train/images/Fito37.jpg
processed_dataset/train/images/Fito38.jpg
processed_dataset/train/images/Fito39.jpg
processed_dataset/train/images/Fito40.jpg
processed_dataset/train/images/Fito41.jpg
processed_dataset/train/images/Fito42.jpg
processed_dataset/train/images/Fito43.jpg
processed_dataset/train/images/Fito44.jpg
processed_dataset/train/images/Fito46.jpg
processed_dataset/train/images/Fito47.jpg
processed_dataset/train/images/Fito48.jpg
processed_dataset/train/images/Fito49.jpg
processed_dataset/train/images/Fito51.jpg
processed_dataset/train/images/Fito52.jpg
processed_dataset/train/images/Fito53.jpg
processed_dataset/train/images/Fito54.jpg
processed_dataset/train/images/Fito55.jpg
processed_dataset/train/images/Fito56.jpg
processed_dataset/train/images/Fito57.jpg
processed_dataset/train/images/Fito58.jpg
processed_dataset/train/images/Fito59.jpg
processed_dataset/train/images/Fito60.jpg
processed_dataset/train/images/Fito63.jpg
processed_dataset/train/images/Fito65.jpg
processed_dataset/train/images/Fito66.jpg
processed_dataset/train/images/Fito67.jpg
processed_dataset/train/images/Fito68.jpg
processed_dataset/train/images/Fito69.jpg
processed_dataset/train/images/Fito70.jpg
processed_dataset/train/images/Fito71.jpg
processed_dataset/train/images/Fito72.jpg
processed_dataset/train/images/Fito73.jpg
processed_dataset/train/images/Fito74.jpg
processed_dataset/train/images/Fito75.jpg
processed_dataset/train/images/Fito77.jpg
processed_dataset/train/images/Fito78.jpg
processed_dataset/train/images/Fito79.jpg
processed_dataset/train/images/Fito80.jpg
processed_dataset/train/images/Fito81.jpg
processed_dataset/train/images/Fito82.jpg
processed_dataset/train/images/Fito83.jpg
processed_dataset/train/images/Fito84.jpg
processed_dataset/train/images/Fito86.jpg
processed_dataset/train/images/Fito87.jpg
processed_dataset/train/images/Fito88.jpg
processed_dataset/train/images/Fito90.jpg
processed_dataset/train/images/Fito93.jpg
processed_dataset/train/images/Fito95.jpg
processed_dataset/train/images/Fito96.jpg
processed_dataset/train/images/Fito97.jpg
processed_dataset/train/images/Fito98.jpg
processed_dataset/train/images/Fito99.jpg
processed_dataset/train/images/Fito100.jpg
processed_dataset/train/images/Fito101.jpg
processed_dataset/train/images/Fito102.jpg
processed_dataset/train/images/Fito103.jpg
processed_dataset/train/images/Fito104.jpg
processed_dataset/train/images/Fito105.jpg
processed_dataset/train/images/Fito106.jpg
processed_dataset/train/images/Fito107.jpg
processed_dataset/train/images/Monilia1.jpg
processed_dataset/train/images/Monilia2.jpg
processed_dataset/train/images/Monilia3.jpg
processed_dataset/train/images/Monilia4.jpg
processed_dataset/train/images/Monilia5.jpg
processed_dataset/train/images/Monilia6.jpg
processed_dataset/train/images/Monilia8.jpg
processed_dataset/train/images/Monilia9.jpg
processed_dataset/train/images/Monilia11.jpg
processed_dataset/train/images/Monilia12.jpg
processed_dataset/train/images/Monilia13.jpg
processed_dataset/train/images/Monilia15.jpg
processed_dataset/train/images/Monilia16.jpg
processed_dataset/train/images/Monilia17.jpg
processed_dataset/train/images/Monilia18.jpg
processed_dataset/train/images/Monilia19.jpg
processed_dataset/train/images/Monilia20.jpg
processed_dataset/train/images/Monilia21.jpg
processed_dataset/train/images/Monilia22.jpg
processed_dataset/train/images/Monilia23.jpg
processed_dataset/train/images/Monilia24.jpg
processed_dataset/train/images/Monilia25.jpg
processed_dataset/train/images/Monilia26.jpg
processed_dataset/train/images/Monilia27.jpg
processed_dataset/train/images/Monilia28.jpg
processed_dataset/train/images/Monilia29.jpg
processed_dataset/train/images/Monilia31.jpg
processed_dataset/train/images/Monilia32.jpg
processed_dataset/train/images/Monilia33.jpg
processed_dataset/train/images/Monilia34.jpg
processed_dataset/train/images/Monilia35.jpg
processed_dataset/train/images/Monilia36.jpg
processed_dataset/train/images/Monilia37.jpg
processed_dataset/train/images/Monilia38.jpg
processed_dataset/train/images/Monilia39.jpg
processed_dataset/train/images/Monilia40.jpg
processed_dataset/train/images/Monilia42.jpg
processed_dataset/train/images/Monilia43.jpg
processed_dataset/train/images/Monilia44.jpg
processed_dataset/train/images/Monilia46.jpg
processed_dataset/train/images/Monilia48.jpg
processed_dataset/train/images/Monilia49.jpg
processed_dataset/train/images/Monilia50.jpg
processed_dataset/train/images/Monilia51.jpg
processed_dataset/train/images/Monilia54.jpg
processed_dataset/train/images/Monilia55.jpg
processed_dataset/train/images/Monilia56.jpg
processed_dataset/train/images/Monilia58.jpg
processed_dataset/train/images/Monilia59.jpg
processed_dataset/train/images/Monilia60.jpg
processed_dataset/train/images/Monilia61.jpg
processed_dataset/train/images/Monilia62.jpg
processed_dataset/train/images/Monilia63.jpg
processed_dataset/train/images/Monilia64.jpg
processed_dataset/train/images/Monilia66.jpg
processed_dataset/train/images/Monilia68.jpg
processed_dataset/train/images/Monilia69.jpg
processed_dataset/train/images/Monilia70.jpg
processed_dataset/train/images/Monilia72.jpg
processed_dataset/train/images/Monilia74.jpg
processed_dataset/train/images/Monilia75.jpg
processed_dataset/train/images/Monilia76.jpg
processed_dataset/train/images/Monilia77.jpg
processed_dataset/train/images/Monilia78.jpg
processed_dataset/train/images/Monilia79.jpg
processed_dataset/train/images/Monilia82.jpg
processed_dataset/train/images/Monilia83.jpg
processed_dataset/train/images/Monilia86.jpg
processed_dataset/train/images/Monilia87.jpg
processed_dataset/train/images/Monilia88.jpg
processed_dataset/train/images/Monilia91.jpg
processed_dataset/train/images/Monilia92.jpg
processed_dataset/train/images/Monilia93.jpg
processed_dataset/train/images/Monilia94.jpg
processed_dataset/train/images/Monilia95.jpg
processed_dataset/train/images/Monilia96.jpg
processed_dataset/train/images/Monilia97.jpg
processed_dataset/train/images/Monilia99.jpg
processed_dataset/train/images/Monilia100.jpg
processed_dataset/train/images/Monilia101.jpg
processed_dataset/train/images/Monilia102.jpg
processed_dataset/train/images/Monilia103.jpg
processed_dataset/train/images/Monilia104.jpg
processed_dataset/train/images/Monilia105.jpg
processed_dataset/train/images/Sana1.jpg
processed_dataset/train/images/Sana2.jpg
processed_dataset/train/images/Sana4.jpg
processed_dataset/train/images/Sana5.jpg
processed_dataset/train/images/Sana6.jpg
processed_dataset/train/images/Sana7.jpg
processed_dataset/train/images/Sana8.jpg
processed_dataset/train/images/Sana9.jpg
processed_dataset/train/images/Sana10.jpg
processed_dataset/train/images/Sana11.jpg
processed_dataset/train/images/Sana12.jpg
processed_dataset/train/images/Sana13.jpg
processed_dataset/train/images/Sana14.jpg
processed_dataset/train/images/Sana15.jpg
processed_dataset/train/images/Sana17.jpg
processed_dataset/train/images/Sana18.jpg
processed_dataset/train/images/Sana19.jpg
processed_dataset/train/images/Sana20.jpg
processed_dataset/train/images/Sana21.jpg
processed_dataset/train/images/Sana23.jpg
processed_dataset/train/images/Sana24.jpg
processed_dataset/train/images/Sana25.jpg
processed_dataset/train/images/Sana26.jpg
processed_dataset/train/images/Sana27.jpg
processed_dataset/train/images/Sana28.jpg
processed_dataset/train/images/Sana29.jpg
processed_dataset/train/images/Sana30.jpg
processed_dataset/train/images/Sana31.jpg
processed_dataset/train/images/Sana32.jpg
processed_dataset/train/images/Sana33.jpg
processed_dataset/train/images/Sana35.jpg
processed_dataset/train/images/Sana36.jpg
processed_dataset/train/images/Sana37.jpg
processed_dataset/train/images/Sana38.jpg
processed_dataset/train/images/Sana39.jpg
processed_dataset/train/images/Sana40.jpg
processed_dataset/train/images/Sana42.jpg
processed_dataset/train/images/Sana43.jpg
processed_dataset/train/images/Sana44.jpg
processed_dataset/train/images/Sana45.jpg
processed_dataset/train/images/Sana46.jpg
processed_dataset/train/images/Sana49.jpg
processed_dataset/train/images/Sana53.jpg
processed_dataset/train/images/Sana54.jpg
processed_dataset/train/images/Sana56.jpg
processed_dataset/train/images/Sana57.jpg
processed_dataset/train/images/Sana58.jpg
processed_dataset/train/images/Sana59.jpg
processed_dataset/train/images/Sana61.jpg
processed_dataset/train/images/Sana62.jpg
processed_dataset/train/images/Sana63.jpg
processed_dataset/train/images/Sana65.jpg
processed_dataset/train/images/Sana66.jpg
processed_dataset/train/images/Sana68.jpg
processed_dataset/train/images/Sana71.jpg
processed_dataset/train/images/Sana72.jpg
processed_dataset/train/images/Sana73.jpg
processed_dataset/train/images/Sana74.jpg
processed_dataset/train/images/Sana75.jpg
processed_dataset/train/images/Sana76.jpg
processed_dataset/train/images/Sana77.jpg
processed_dataset/train/images/Sana78.jpg
processed_dataset/train/images/Sana79.jpg
processed_dataset/train/images/Sana81.jpg
processed_dataset/train/images/Sana82.jpg
processed_dataset/train/images/Sana83.jpg
processed_dataset/train/images/Sana84.jpg
processed_dataset/train/images/Sana85.jpg
processed_dataset/train/images/Sana86.jpg
processed_dataset/train/images/Sana87.jpg
processed_dataset/train/images/Sana88.jpg
processed_dataset/train/images/Sana89.jpg
processed_dataset/train/images/Sana91.jpg
processed_dataset/train/images/Sana93.jpg
processed_dataset/train/images/Sana94.jpg
processed_dataset/train/images/Sana95.jpg
processed_dataset/train/images/Sana97.jpg
processed_dataset/train/images/Sana98.jpg
processed_dataset/train/images/Sana99.jpg
processed_dataset/train/images/Sana100.jpg
processed_dataset/train/labels/Fito2.txt
processed_dataset/train/labels/Fito4.txt
processed_dataset/train/labels/Fito5.txt
processed_dataset/train/labels/Fito6.txt
processed_dataset/train/labels/Fito7.txt
processed_dataset/train/labels/Fito10.txt
processed_dataset/train/labels/Fito11.txt
processed_dataset/train/labels/Fito12.txt
processed_dataset/train/labels/Fito14.txt
processed_dataset/train/labels/Fito16.txt
processed_dataset/train/labels/Fito18.txt
processed_dataset/train/labels/Fito19.txt
processed_dataset/train/labels/Fito21.txt
processed_dataset/train/labels/Fito23.txt
processed_dataset/train/labels/Fito24.txt
processed_dataset/train/labels/Fito25.txt
processed_dataset/train/labels/Fito26.txt
processed_dataset/train/labels/Fito27.txt
processed_dataset/train/labels/Fito29.txt
processed_dataset/train/labels/Fito30.txt
processed_dataset/train/labels/Fito31.txt
processed_dataset/train/labels/Fito32.txt
processed_dataset/train/labels/Fito33.txt
processed_dataset/train/labels/Fito34.txt
processed_dataset/train/labels/Fito36.txt
processed_dataset/train/labels/Fito37.txt
processed_dataset/train/labels/Fito38.txt
processed_dataset/train/labels/Fito39.txt
processed_dataset/train/labels/Fito40.txt
processed_dataset/train/labels/Fito41.txt
processed_dataset/train/labels/Fito42.txt
processed_dataset/train/labels/Fito43.txt
processed_dataset/train/labels/Fito44.txt
processed_dataset/train/labels/Fito46.txt
processed_dataset/train/labels/Fito47.txt
processed_dataset/train/labels/Fito48.txt
processed_dataset/train/labels/Fito49.txt
processed_dataset/train/labels/Fito51.txt
processed_dataset/train/labels/Fito52.txt
processed_dataset/train/labels/Fito53.txt
processed_dataset/train/labels/Fito54.txt
processed_dataset/train/labels/Fito55.txt
processed_dataset/train/labels/Fito56.txt
processed_dataset/train/labels/Fito57.txt
processed_dataset/train/labels/Fito58.txt
processed_dataset/train/labels/Fito59.txt
processed_dataset/train/labels/Fito60.txt
processed_dataset/train/labels/Fito63.txt
processed_dataset/train/labels/Fito65.txt
processed_dataset/train/labels/Fito66.txt
processed_dataset/train/labels/Fito67.txt
processed_dataset/train/labels/Fito68.txt
processed_dataset/train/labels/Fito69.txt
processed_dataset/train/labels/Fito70.txt
processed_dataset/train/labels/Fito71.txt
processed_dataset/train/labels/Fito72.txt
processed_dataset/train/labels/Fito73.txt
processed_dataset/train/labels/Fito74.txt
processed_dataset/train/labels/Fito75.txt
processed_dataset/train/labels/Fito77.txt
processed_dataset/train/labels/Fito78.txt
processed_dataset/train/labels/Fito79.txt
processed_dataset/train/labels/Fito80.txt
processed_dataset/train/labels/Fito81.txt
processed_dataset/train/labels/Fito82.txt
processed_dataset/train/labels/Fito83.txt
processed_dataset/train/labels/Fito84.txt
processed_dataset/train/labels/Fito86.txt
processed_dataset/train/labels/Fito87.txt
processed_dataset/train/labels/Fito88.txt
processed_dataset/train/labels/Fito90.txt
processed_dataset/train/labels/Fito93.txt
processed_dataset/train/labels/Fito95.txt
processed_dataset/train/labels/Fito96.txt
processed_dataset/train/labels/Fito97.txt
processed_dataset/train/labels/Fito98.txt
processed_dataset/train/labels/Fito99.txt
processed_dataset/train/labels/Fito100.txt
processed_dataset/train/labels/Fito101.txt
processed_dataset/train/labels/Fito102.txt
processed_dataset/train/labels/Fito103.txt
processed_dataset/train/labels/Fito104.txt
processed_dataset/train/labels/Fito105.txt
processed_dataset/train/labels/Fito106.txt
processed_dataset/train/labels/Fito107.txt
processed_dataset/train/labels/Monilia1.txt
processed_dataset/train/labels/Monilia2.txt
processed_dataset/train/labels/Monilia3.txt
processed_dataset/train/labels/Monilia4.txt
processed_dataset/train/labels/Monilia5.txt
processed_dataset/train/labels/Monilia6.txt
processed_dataset/train/labels/Monilia8.txt
processed_dataset/train/labels/Monilia9.txt
processed_dataset/train/labels/Monilia11.txt
processed_dataset/train/labels/Monilia12.txt
processed_dataset/train/labels/Monilia13.txt
processed_dataset/train/labels/Monilia15.txt
processed_dataset/train/labels/Monilia16.txt
processed_dataset/train/labels/Monilia17.txt
processed_dataset/train/labels/Monilia18.txt
processed_dataset/train/labels/Monilia19.txt
processed_dataset/train/labels/Monilia20.txt
processed_dataset/train/labels/Monilia21.txt
processed_dataset/train/labels/Monilia22.txt
processed_dataset/train/labels/Monilia23.txt
processed_dataset/train/labels/Monilia24.txt
processed_dataset/train/labels/Monilia25.txt
processed_dataset/train/labels/Monilia26.txt
processed_dataset/train/labels/Monilia27.txt
processed_dataset/train/labels/Monilia28.txt
processed_dataset/train/labels/Monilia29.txt
processed_dataset/train/labels/Monilia31.txt
processed_dataset/train/labels/Monilia32.txt
processed_dataset/train/labels/Monilia33.txt
processed_dataset/train/labels/Monilia34.txt
processed_dataset/train/labels/Monilia35.txt
processed_dataset/train/labels/Monilia36.txt
processed_dataset/train/labels/Monilia37.txt
processed_dataset/train/labels/Monilia38.txt
processed_dataset/train/labels/Monilia39.txt
processed_dataset/train/labels/Monilia40.txt
processed_dataset/train/labels/Monilia42.txt
processed_dataset/train/labels/Monilia43.txt
processed_dataset/train/labels/Monilia44.txt
processed_dataset/train/labels/Monilia46.txt
processed_dataset/train/labels/Monilia48.txt
processed_dataset/train/labels/Monilia49.txt
processed_dataset/train/labels/Monilia50.txt
processed_dataset/train/labels/Monilia51.txt
processed_dataset/train/labels/Monilia54.txt
processed_dataset/train/labels/Monilia55.txt
processed_dataset/train/labels/Monilia56.txt
processed_dataset/train/labels/Monilia58.txt
processed_dataset/train/labels/Monilia59.txt
processed_dataset/train/labels/Monilia60.txt
processed_dataset/train/labels/Monilia61.txt
processed_dataset/train/labels/Monilia62.txt
processed_dataset/train/labels/Monilia63.txt
processed_dataset/train/labels/Monilia64.txt
processed_dataset/train/labels/Monilia66.txt
processed_dataset/train/labels/Monilia68.txt
processed_dataset/train/labels/Monilia69.txt
processed_dataset/train/labels/Monilia70.txt
processed_dataset/train/labels/Monilia72.txt
processed_dataset/train/labels/Monilia74.txt
processed_dataset/train/labels/Monilia75.txt
processed_dataset/train/labels/Monilia76.txt
processed_dataset/train/labels/Monilia77.txt
processed_dataset/train/labels/Monilia78.txt
processed_dataset/train/labels/Monilia79.txt
processed_dataset/train/labels/Monilia82.txt
processed_dataset/train/labels/Monilia83.txt
processed_dataset/train/labels/Monilia86.txt
processed_dataset/train/labels/Monilia87.txt
processed_dataset/train/labels/Monilia88.txt
processed_dataset/train/labels/Monilia91.txt
processed_dataset/train/labels/Monilia92.txt
processed_dataset/train/labels/Monilia93.txt
processed_dataset/train/labels/Monilia94.txt
processed_dataset/train/labels/Monilia95.txt
processed_dataset/train/labels/Monilia96.txt
processed_dataset/train/labels/Monilia97.txt
processed_dataset/train/labels/Monilia99.txt
processed_dataset/train/labels/Monilia100.txt
processed_dataset/train/labels/Monilia101.txt
processed_dataset/train/labels/Monilia102.txt
processed_dataset/train/labels/Monilia103.txt
processed_dataset/train/labels/Monilia104.txt
processed_dataset/train/labels/Monilia105.txt
processed_dataset/train/labels/Sana1.txt
processed_dataset/train/labels/Sana2.txt
processed_dataset/train/labels/Sana4.txt
processed_dataset/train/labels/Sana5.txt
processed_dataset/train/labels/Sana6.txt
processed_dataset/train/labels/Sana7.txt
processed_dataset/train/labels/Sana8.txt
processed_dataset/train/labels/Sana9.txt
processed_dataset/train/labels/Sana10.txt
processed_dataset/train/labels/Sana11.txt
processed_dataset/train/labels/Sana12.txt
processed_dataset/train/labels/Sana13.txt
processed_dataset/train/labels/Sana14.txt
processed_dataset/train/labels/Sana15.txt
processed_dataset/train/labels/Sana17.txt
processed_dataset/train/labels/Sana18.txt
processed_dataset/train/labels/Sana19.txt
processed_dataset/train/labels/Sana20.txt
processed_dataset/train/labels/Sana21.txt
processed_dataset/train/labels/Sana23.txt
processed_dataset/train/labels/Sana24.txt
processed_dataset/train/labels/Sana25.txt
processed_dataset/train/labels/Sana26.txt
processed_dataset/train/labels/Sana27.txt
processed_dataset/train/labels/Sana28.txt
processed_dataset/train/labels/Sana29.txt
processed_dataset/train/labels/Sana30.txt
processed_dataset/train/labels/Sana31.txt
processed_dataset/train/labels/Sana32.txt
processed_dataset/train/labels/Sana33.txt
processed_dataset/train/labels/Sana35.txt
processed_dataset/train/labels/Sana36.txt
processed_dataset/train/labels/Sana37.txt
processed_dataset/train/labels/Sana38.txt
processed_dataset/train/labels/Sana39.txt
processed_dataset/train/labels/Sana40.txt
processed_dataset/train/labels/Sana42.txt
processed_dataset/train/labels/Sana43.txt
processed_dataset/train/labels/Sana44.txt
processed_dataset/train/labels/Sana45.txt
processed_dataset/train/labels/Sana46.txt
processed_dataset/train/labels/Sana49.txt
processed_dataset/train/labels/Sana53.txt
processed_dataset/train/labels/Sana54.txt
processed_dataset/train/labels/Sana56.txt
processed_dataset/train/labels/Sana57.txt
processed_dataset/train/labels/Sana58.txt
processed_dataset/train/labels/Sana59.txt
processed_dataset/train/labels/Sana61.txt
processed_dataset/train/labels/Sana62.txt
processed_dataset/train/labels/Sana63.txt
processed_dataset/train/labels/Sana65.txt
processed_dataset/train/labels/Sana66.txt
processed_dataset/train/labels/Sana68.txt
processed_dataset/train/labels/Sana71.txt
processed_dataset/train/labels/Sana72.txt
processed_dataset/train/labels/Sana73.txt
processed_dataset/train/labels/Sana74.txt
processed_dataset/train/labels/Sana75.txt
processed_dataset/train/labels/Sana76.txt
processed_dataset/train/labels/Sana77.txt
processed_dataset/train/labels/Sana78.txt
processed_dataset/train/labels/Sana79.txt
processed_dataset/train/labels/Sana81.txt
processed_dataset/train/labels/Sana82.txt
processed_dataset/train/labels/Sana83.txt
processed_dataset/train/labels/Sana84.txt
processed_dataset/train/labels/Sana85.txt
processed_dataset/train/labels/Sana86.txt
processed_dataset/train/labels/Sana87.txt
processed_dataset/train/labels/Sana88.txt
processed_dataset/train/labels/Sana89.txt
processed_dataset/train/labels/Sana91.txt
processed_dataset/train/labels/Sana93.txt
processed_dataset/train/labels/Sana94.txt
processed_dataset/train/labels/Sana95.txt
processed_dataset/train/labels/Sana97.txt
processed_dataset/train/labels/Sana98.txt
processed_dataset/train/labels/Sana99.txt
processed_dataset/train/labels/Sana100.txt
processed_dataset/val/labels.cache
processed_dataset/val/images/Fito1.jpg
processed_dataset/val/images/Fito3.jpg
processed_dataset/val/images/Fito8.jpg
processed_dataset/val/images/Fito9.jpg
processed_dataset/val/images/Fito13.jpg
processed_dataset/val/images/Fito15.jpg
processed_dataset/val/images/Fito17.jpg
processed_dataset/val/images/Fito20.jpg
processed_dataset/val/images/Fito22.jpg
processed_dataset/val/images/Fito28.jpg
processed_dataset/val/images/Fito35.jpg
processed_dataset/val/images/Fito45.jpg
processed_dataset/val/images/Fito50.jpg
processed_dataset/val/images/Fito61.jpg
processed_dataset/val/images/Fito62.jpg
processed_dataset/val/images/Fito64.jpg
processed_dataset/val/images/Fito76.jpg
processed_dataset/val/images/Fito85.jpg
processed_dataset/val/images/Fito89.jpg
processed_dataset/val/images/Fito91.jpg
processed_dataset/val/images/Fito92.jpg
processed_dataset/val/images/Fito94.jpg
processed_dataset/val/images/Monilia7.jpg
processed_dataset/val/images/Monilia10.jpg
processed_dataset/val/images/Monilia14.jpg
processed_dataset/val/images/Monilia30.jpg
processed_dataset/val/images/Monilia41.jpg
processed_dataset/val/images/Monilia45.jpg
processed_dataset/val/images/Monilia47.jpg
processed_dataset/val/images/Monilia52.jpg
processed_dataset/val/images/Monilia53.jpg
processed_dataset/val/images/Monilia57.jpg
processed_dataset/val/images/Monilia65.jpg
processed_dataset/val/images/Monilia67.jpg
processed_dataset/val/images/Monilia71.jpg
processed_dataset/val/images/Monilia73.jpg
processed_dataset/val/images/Monilia80.jpg
processed_dataset/val/images/Monilia81.jpg
processed_dataset/val/images/Monilia84.jpg
processed_dataset/val/images/Monilia85.jpg
processed_dataset/val/images/Monilia89.jpg
processed_dataset/val/images/Monilia90.jpg
processed_dataset/val/images/Monilia98.jpg
processed_dataset/val/images/Sana3.jpg
processed_dataset/val/images/Sana16.jpg
processed_dataset/val/images/Sana22.jpg
processed_dataset/val/images/Sana34.jpg
processed_dataset/val/images/Sana41.jpg
processed_dataset/val/images/Sana47.jpg
processed_dataset/val/images/Sana48.jpg
processed_dataset/val/images/Sana50.jpg
processed_dataset/val/images/Sana51.jpg
processed_dataset/val/images/Sana52.jpg
processed_dataset/val/images/Sana55.jpg
processed_dataset/val/images/Sana60.jpg
processed_dataset/val/images/Sana64.jpg
processed_dataset/val/images/Sana67.jpg
processed_dataset/val/images/Sana69.jpg
processed_dataset/val/images/Sana70.jpg
processed_dataset/val/images/Sana80.jpg
processed_dataset/val/images/Sana90.jpg
processed_dataset/val/images/Sana92.jpg
processed_dataset/val/images/Sana96.jpg
processed_dataset/val/labels/Fito1.txt
processed_dataset/val/labels/Fito3.txt
processed_dataset/val/labels/Fito8.txt
processed_dataset/val/labels/Fito9.txt
processed_dataset/val/labels/Fito13.txt
processed_dataset/val/labels/Fito15.txt
processed_dataset/val/labels/Fito17.txt
processed_dataset/val/labels/Fito20.txt
processed_dataset/val/labels/Fito22.txt
processed_dataset/val/labels/Fito28.txt
processed_dataset/val/labels/Fito35.txt
processed_dataset/val/labels/Fito45.txt
processed_dataset/val/labels/Fito50.txt
processed_dataset/val/labels/Fito61.txt
processed_dataset/val/labels/Fito62.txt
processed_dataset/val/labels/Fito64.txt
processed_dataset/val/labels/Fito76.txt
processed_dataset/val/labels/Fito85.txt
processed_dataset/val/labels/Fito89.txt
processed_dataset/val/labels/Fito91.txt
processed_dataset/val/labels/Fito92.txt
processed_dataset/val/labels/Fito94.txt
processed_dataset/val/labels/Monilia7.txt
processed_dataset/val/labels/Monilia10.txt
processed_dataset/val/labels/Monilia14.txt
processed_dataset/val/labels/Monilia30.txt
processed_dataset/val/labels/Monilia41.txt
processed_dataset/val/labels/Monilia45.txt
processed_dataset/val/labels/Monilia47.txt
processed_dataset/val/labels/Monilia52.txt
processed_dataset/val/labels/Monilia53.txt
processed_dataset/val/labels/Monilia57.txt
processed_dataset/val/labels/Monilia65.txt
processed_dataset/val/labels/Monilia67.txt
processed_dataset/val/labels/Monilia71.txt
processed_dataset/val/labels/Monilia73.txt
processed_dataset/val/labels/Monilia80.txt
processed_dataset/val/labels/Monilia81.txt
processed_dataset/val/labels/Monilia84.txt
processed_dataset/val/labels/Monilia85.txt
processed_dataset/val/labels/Monilia89.txt
processed_dataset/val/labels/Monilia90.txt
processed_dataset/val/labels/Monilia98.txt
processed_dataset/val/labels/Sana3.txt
processed_dataset/val/labels/Sana16.txt
processed_dataset/val/labels/Sana22.txt
processed_dataset/val/labels/Sana34.txt
processed_dataset/val/labels/Sana41.txt
processed_dataset/val/labels/Sana47.txt
processed_dataset/val/labels/Sana48.txt
processed_dataset/val/labels/Sana50.txt
processed_dataset/val/labels/Sana51.txt
processed_dataset/val/labels/Sana52.txt
processed_dataset/val/labels/Sana55.txt
processed_dataset/val/labels/Sana60.txt
processed_dataset/val/labels/Sana64.txt
processed_dataset/val/labels/Sana67.txt
processed_dataset/val/labels/Sana69.txt
processed_dataset/val/labels/Sana70.txt
processed_dataset/val/labels/Sana80.txt
processed_dataset/val/labels/Sana90.txt
processed_dataset/val/labels/Sana92.txt
processed_dataset/val/labels/Sana96.txt
